.container {
    max-width: 100%; 
    margin: 0;
    background-color: var(--color-grey-light-2); 
    min-height: 50rem; 
    box-shadow: var(--shadow-dark); 

    @media only screen and (max-width: $bp-medium) {
       margin: 0;
    }
}

.header {
    font-size: 1.4rem;
    height: 8rem; 
    background-color: #fff;
    border-bottom: var(--line);

    display: flex; 
    justify-content: space-between;
    align-items: center;

    
    @media only screen and (max-width: $bp-small) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 15rem;
     }
} 

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
     }
} 

.sidebar {
    background-color:  var(--color-grey-dark-1);
    flex: 0 0 22%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    
} 

.hotel-view {
    // test 
    background-color: #fff; 
    flex: 1;
 } 


 .detail {
    font-size: 1.5rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1); 
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem; 
        font-size: 2rem;
     }  

     @media only screen and (max-width: $bp-small) {
        flex-direction: column;
     }
    

 } 

 .description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%; 
    margin-right: 4.5rem;
    padding: 4rem;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        margin-right: 0; 
        margin-bottom: 2rem;
     }
 } 

 .user-reviews {
    flex: 1;
    display: flex; 
    flex-direction: column; 
   align-items: center;

 }